* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: unset;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica Neue Cyr - Regular";
  src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica Neue Cyr - Medium";
  src: url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Helvetica Neue Cyr - Bold";
  src: url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
  font-weight: 700;
}

body {
  font-family: "Helvetica Neue Cyr - Regular";
  font-size: 16px;
  font-weight: 400;
  color: #242526;
}

h1 {
  font-family: "Helvetica Neue Cyr - Bold";
  font-size: 58px;
  font-weight: 700;
  line-height: 1.23;
  letter-spacing: 1.7px;
  color: #242526;
}

h2 {
  font-family: "Helvetica Neue Cyr - Bold";
  font-size: 44px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 1.7px;
  color: #242526;
}

h3 {
  font-family: "Helvetica Neue Cyr - Bold";
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.2px;
  color: #242526;
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1;
  color: rgba(36, 37, 38, 0.3);
}

.container {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  margin-bottom: 95px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.header__logo {
  font-family: "Helvetica Neue Cyr - Medium";
  font-size: 16px;
  font-weight: 500;
  line-height: 46px;
  text-align: center;
  color: #F4F7FB;
  background: #242526;
  border-radius: 50%;
}

.header__logo a {
  display: block;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  border-radius: 15px;
  margin-right: 15px;
}

.nav__link a {
  display: inline-block;
  padding: 14px 20px;
}

.nav__link a::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  position: relative;
  bottom: -2px;
  background-color: #242526;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
}

.nav__link a:hover::after {
  opacity: 1;
}

.nav__link:last-child {
  margin-right: 0;
}

.nav__link:last-child a::after {
  display: none;
}

.nav__link--blue {
  color: #F4F7FB;
  background-color: #0E6FFF;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav__link--blue:hover {
  background-color: #0057D8;
}

.hello-page {
  margin-bottom: 200px;
}

.hello-page__inner {
  max-width: 940px;
}

.hello-page__suptitle {
  margin-bottom: 12px;
}

.works {
  margin-bottom: 220px;
}

.works__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.works__title {
  margin-bottom: 100px;
}

.work-item {
  width: 520px;
  margin-bottom: 100px;
}

.work-item__img {
  height: 630px;
  margin-bottom: 28px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.work-item__img--1 {
  background-image: url("../img/works/work-1.jpg");
}

.work-item__img--2 {
  background-image: url("../img/works/work-2.jpg");
}

.work-item__img--3 {
  background-image: url("../img/works/work-3.jpg");
}

.work-item__img--4 {
  background-image: url("../img/works/work-4.jpg");
}

.work-item__title {
  margin-bottom: 10px;
}

.about-me__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
}

.about-me__photo {
  width: 520px;
  height: 630px;
  border-radius: 20px;
  background: rgba(14, 111, 255, 0.3);
  position: relative;
}

.about-me__img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  right: 36px;
  bottom: 42px;
  background: url("../img/about-me/photo.jpg") no-repeat center;
  background-size: cover;
}

.about-me__info {
  max-width: 530px;
  padding: 0 10px;
}

.about-me__title {
  margin-bottom: 25px;
}

.about-me__text {
  margin-bottom: 15px;
}

.about-me__text:last-child {
  margin-bottom: 100px;
}
