@import "_normalize";

// === Variables & Fonts ===

$Primary: #0E6FFF;
$PrimaryDarker: #0057D8;
$Secondary: #780EFF;
$Accent: #FFD80E;
$Light: #F4F7FB;
$Dark: #242526;

$Animation: all .2s ease;

@font-face {
	font-family: "Helvetica Neue Cyr - Regular";
	src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2");
	font-weight: 400;
}

@font-face {
	font-family: "Helvetica Neue Cyr - Medium";
	src: url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2");
	font-weight: 500;
}

@font-face {
	font-family: "Helvetica Neue Cyr - Bold";
	src: url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
	font-weight: 700;
}

// ==================

// === Common ===

body {
	font-family: "Helvetica Neue Cyr - Regular";
	font-size: 16px;
	font-weight: 400;
	color: $Dark;
}

h1 {
	font-family: "Helvetica Neue Cyr - Bold";
	font-size: 58px;
	font-weight: 700;
	line-height: 1.23;
	letter-spacing: 1.7px;
	color: $Dark;
}

h2 {
	font-family: "Helvetica Neue Cyr - Bold";
	font-size: 44px;
	font-weight: 700;
	line-height: 1.4;
	letter-spacing: 1.7px;
	color: $Dark;
}

h3 {
	font-family: "Helvetica Neue Cyr - Bold";
	font-size: 32px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 1.2px;
	color: $Dark;
}

p {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.1;
	color: rgba($Dark, 0.3);
}

.container {
	max-width: 1180px;
	padding: 0 15px;
	margin: 0 auto;
}

// ==================

// === Header ===

header {
	margin-bottom: 95px;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	padding: 30px 0;

	&__logo {
		font-family: "Helvetica Neue Cyr - Medium";
		font-size: 16px;
		font-weight: 500;
		line-height: 46px;
		text-align: center;
		color: $Light;

		background: $Dark;
		border-radius: 50%;
		
		a {
			display: block;

			width: 46px;
			height: 46px;

			border-radius: 50%;
		}
	}
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;

	&__link {
		border-radius: 15px;
		margin-right: 15px;

		a {
			display: inline-block;

			padding: 14px 20px;

			&::after {
				content: "";
				display: block;
				height: 2px;
				width: 100%;
				position: relative;
				bottom: -2px;
				background-color: $Dark;

				transition: $Animation;

				opacity: 0;
			}

			&:hover {
				&::after {
					opacity: 1;
				}
			}
		}

		&:last-child {
			margin-right: 0;

			a {
				&::after {
					display: none;
				}
			}
		}

		&--blue {
			color: $Light;
			background-color: $Primary;

			transition: $Animation;

			&:hover {
				background-color: $PrimaryDarker;
			}
		}
	}
}

// ==================

// === Hello page ===

.hello-page {
	margin-bottom: 200px;

	&__inner {
		max-width: 940px;
	}

	&__suptitle {
		margin-bottom: 12px;
	}

	// &__title {
	// }
}

// ==================

// === Work page ===

.works {

	margin-bottom: 220px;

	&__inner {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: start;
	}

	// &__item {}

	&__title {
		margin-bottom: 100px;
	}
}

.work-item {
	width: 520px;

	margin-bottom: 100px;

	&__img {
		height: 630px;

		margin-bottom: 28px;

		border-radius: 20px;

		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		&--1 {
		background-image: url('../img/works/work-1.jpg');
		}

		&--2 {
			background-image: url('../img/works/work-2.jpg');
		}

		&--3 {
			background-image: url('../img/works/work-3.jpg');
		}

		&--4 {
			background-image: url('../img/works/work-4.jpg');
		}
	}

	&__title {
		margin-bottom: 10px;
	}

	// &__info {
	// }

}

// ==================

// === About me page ===

.about-me {

	&__inner {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		padding-left: 16px;
	}

	&__photo {
		width: 520px;
		height: 630px;

		border-radius: 20px;

		background: rgba($Primary, 0.3);

		position: relative;
	}

	&__img {
		width: 100%;
		height: 100%;

		border-radius: 20px;

		position: absolute;

		right: 36px;
		bottom: 42px;

		background: url('../img/about-me/photo.jpg') no-repeat center;
		background-size: cover;
	}

	&__info {
		max-width: 530px;
		padding: 0 10px;
	}

	&__title {
		margin-bottom: 25px;
	}

	&__text {
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 100px;
		}
	}
}

// ==================